.grid {
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    height: 180px;
    width: 180px;
}
.grid div {
    height: 20px;
    width: 20px;
}
div div {
    background-image: url('pics/lawn.png');
    background-size: cover;
}
.ending-block {
    background-image: url('pics/home.png');
    background-size: cover;
}
.starting-block {
    background-image: url('pics/safe-zone.png');
    background-size: cover;
}
.c1 {
    background-image: url('pics/car-right.png');
    background-size: cover;
}
.c2,
.c3 {
    background-image: url('pics/road.png');
    background-size: cover;
}
.l1,
.l2,
.l3 {
    background-image: url('pics/log.png');
    background-size: cover;
}
.l4,
.l5 {
    background-image: url('pics/river.png');
    background-size: cover;
}
.frog-on-lawn {
    background-image: url('pics/frog-on-lawn.png');
    background-size: cover;
}
.frog-on-road {
    background-image: url('pics/frog-on-road.png');
    background-size: cover;
}
.frog-on-log {
    background-image: url('pics/frog-on-log.png');
    background-size: cover;
}
.frog-rip {
    background-image: url('pics/frog-rip.png');
    background-size: cover;
}
.frog-rip-road {
    background-image: url('pics/frog-rip-road.png');
    background-size: cover;
}
.frog-rip-water {
    background-image: url('pics/frog-rip-water.png');
    background-size: cover;
}